# Operating System
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
*.log
npm-debug.log*

# Cache
.cache/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Dependencies
node_modules/

# Testing
coverage/
.jest-cache/
